apiVersion: v1
kind: Secret
metadata:
  name: {{ template "downloads-api.fullname" . }}
  annotations:
  {{- with .Values.deployment.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
  {{- include "downloads-api.labels" . | nindent 4 -}}
  {{- with .Values.deployment.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  application.yaml: |
    spring:
      data:
        mongodb:
          database: "downloads"
          username: "admin"
          password: "12345678"
          host: "172.17.0.23"
      mvc:
        throw-exception-if-no-handler-found: true
      web:
        resources:
          add-mappings: true

    springdoc:
      api-docs:
        path: "/downloads/openapi"
      show-actuator: false
      swagger-ui:
        disable-swagger-default-url: true
        operations-sorter: "alpha"
        path: "/downloads/docs/"
        show-common-extensions: true

    app:
      storage-path: "downloads"
